<h2 style="text-align: center;">iOS Automation - Mail Bot</h2>
<h3 style="text-align: center;">
    <a href="http://mac-mini-server.ting.ly:8080/job/CarePro-Test/{{build_number}}/">Test Execution #{{build_number}}</a>
</h3>

<br><br><br>
<table>
	<tr>
		<td><center>
			<table>
				<thead>
					<tr>
						<th>Execution Status</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><strong># Executed</strong></td>
						<td><strong># Passed</strong></td>
					</tr>
					<tr>
						<td>{{executed}}</td>
						<td>{{passed}}</td>
					</tr>
					<tr>
						<td><strong># Failed</strong></td>
						<td><strong># Skipped</strong></td>
					</tr>
					<tr>
						<td>{{failed}}</td>
						<td>{{skipped}}</td>
					</tr>
					<tr>
						<td><strong>Environment</strong></td>
						<td><strong>Execution Date</strong></td>
					</tr>
					<tr>
						<td>{{environment}}</td>
						<td>{{execution_date}}</td>
					</tr>
				</tbody>
			</table>
		</td></center>
	</tr>
	<tr>
		<td><center>
			<table>
				<tr>                                                     
					<td style="padding-top:15px;">See Allure Report <a href="http://mac-mini-server.ting.ly:8080/job/CarePro-Test/{{build_number}}/allure/">here </a> </td>
				</tr>
				<tr>                                                     
					<td style="font-size:12px;"><center>(readonly / swlbase2**)</td>
				</tr>
			</table>
		</td></center>
	</tr>
</table>
